
/* Begin partner-site styles accessability improvements */
a:any-link {
  color: #2b74a1;
}

a:any-link:hover {
  color: #1b4865;
}

.footer-link,
.footer-link > a {
  color: #444;
}

.breadcrumbs a {
  color: #444;
}

.subnav .subnav-link a {
  color: #666;
}

button {
  background-color: #2b74a1;
  color: #fff;
}

button:hover {
  background-color: #1b4865;
}
/* End partner-site styles accessability improvements */

div.job-card-flex {
    display: flex;
}

div.job-card-sample {
    padding-right: 1%;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%
}

div.job-card-full {
    padding-left: 1%;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%
}

div.dataset-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 80%
}

div.dataset-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%
}

button.job-button {
    display: none;
}

button.job-runbutton {
    font-weight: bold;
    min-width: 100%;
    float: left;
    background-color: #052c65;
    color: #fff;
}

button.job-rerunbutton {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

button.job-statebutton {
    font-weight: bold;
    min-width: 100%;
    background-color: #f0f0f0;
    color: #222;
    float: left;
    cursor: wait;
}

a.button.job-resultsbutton {
    font-weight: bold;
    min-width: 100%;
    background-color: #1e7b34;
    color: #fff;
    float: left;
}

button.download-button {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

div.graph-description {
    text-align: center !important;
    margin-bottom: 2em;
    font-weight: bold;
}

.small {
    font-size: 90%;
}

.notice {
    width: 120px;
    background-color: #555;
    color: white;
    padding: 5px 0;
    border-radius: 6px;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 75%;
    margin-left: 50px
}

.expanded {
    max-height: 100%;
}

div#csv-preview {
    height: 30em;
    overflow: auto;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card-container > * {
  margin-top: 2rem;
  margin-right: 2rem;
}

.card-container > *:last-child {
  margin-right: 0;
}

.category-accordian-button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: #000;
  text-align: left;
  width: 100%;
  margin-bottom: 0.5rem;
  cursor: default;
}

.category-accordian-button:hover,
.category-accordian-button:focus {
  background-color: inherit;
  color: inherit;
}

.category-accordian-button > span.category-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.category-accordian-button > span.category-description {
  line-height: 2.5rem;
}

.job-category.collapsed .category-accordian-button {
  padding: 1rem 0.5rem 0.8rem 0.5rem;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.job-category.collapsed .category-accordian-button:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

.job-category .collapsible-content {
    display: none;
}

.job-category.expanded .collapsible-content {
    display: block;
}

.job-category.expanded .card-title {
  font-size: 1.3rem;
}

.category-image {
    float: left;
    max-height: 5em;
    width: auto;
}

/*
 * Sigma instances
 */

div#sigma-fullscreen {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {
    div.modal-dialog { max-width: none; }
}

div.modal {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
}

div.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

div.modal-content {
    height: auto;
    border-radius: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}

div.modal-body {
    width: 100%;
    max-width: none;
}

div#graph-wrapper {
    padding: 2px;
    border-radius: 5px;
    border: 1px solid grey;
}

div#graph {
    width: 100%;
    height: 700px;
}

div#graph-modal-wrapper {
    padding: 2px;
    border-radius: 5px;
    border: 1px solid grey;
}

div#graph-modal {
    min-height: 200px;
}

#summary-running, #summary-finished, #summary-empty {
    display: none;
}

a.new-job-link {
    font-weight: bold;
}

div.new-job-link {
    text-align: center;
    margin: auto;
    width: 50%;
}

#summary-empty {
    text-align: center;
    margin: auto;
    width: 50%;
}

/* Override the default partner-site css center column width */
.row {
  max-width: 80rem;
}
