div.job-card-flex {
    display: flex;
}

div.job-card-sample {
    padding-right: 10px;
    border-right: 1px solid #5c5c5c;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    width: 100%
}

div.job-card-full {
    padding-left: 10px;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    width: 100%
}

div.button margin-top margin-bottom padding-top padding-bottom half job-runbutton job-button {
    display: none;
    font-weight: bold;
}

div.button margin-top margin-bottom padding-top padding-bottom half job-resultsbutton-disabled secondary job-button jobstate {
    display:none;
}

.small {
    font-size: 90%;
}

span.jobstate {
    font-weight: bold;
}
