div.job-card-flex {
    display: flex;
}

div.job-card-sample {
    padding-right: 1%;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%
}

div.job-card-full {
    padding-left: 1%;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%
}

button.job-runbutton,job-button {
    font-weight: bold;
    min-width: 100%;
    float: left;
}

button.job-resultsbutton-disabled,job-button,jobstate {
    font-weight: bold;
    min-width: 100%;
    float: left;
}

button.job-resultsbutton,job-button {
    font-weight: bold;
    min-width: 100%;
    float: left;
}

button.download-button {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a.results-page:link {
    color: white;
    font-weight: bold;
}

a.results-page:visited {
    color: white;
    font-weight: bold;
}

a.results:hover {
    color: white;
    font-weight: bold;
}

a.download:link {
    color: white;
    font-weight: bold;
}

a.download:visited {
    color: white;
}

a.download:hover {
    color: white;
}

a.download:active {
    color: white;
}

.small {
    font-size: 90%;
}

span.jobstate {
    font-weight: bold;
}

[data-tooltip]:before {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    transition: all 0.15s ease;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

[data-tooltip]:hover:before {
    opacity: 1;
    z-index: 1;
    background: rgb(52, 143, 198);
    width: 350px;
    top: 110%;
    left: 50%;
    margin-left: -175px;
}

#tooltip {
    background: rgb(52, 143, 198);
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
    display: none;
    text-align: center;
    z-index: 1;
}

#tooltip[data-show] {
    display: block;
}

#arrow,
#arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

#arrow {
    visibility: hidden;
}

#arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px;
}
