div.job-card-flex {
    display: flex;
}

div.job-card-sample {
    padding-right: 1%;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%
}

div.job-card-full {
    padding-left: 1%;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%
}

div.dataset-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 80%
}

div.dataset-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%
}

button.job-button {
    display: none;
}

button.job-runbutton {
    font-weight: bold;
    min-width: 100%;
    float: left;
}

button.job-statebutton {
    font-weight: bold;
    min-width: 100%;
    background-color: #d8dbdc;
    float: left;
}

button.job-resultsbutton {
    font-weight: bold;
    min-width: 100%;
    background-color: #28a745;
    float: left;
}

button.download-button {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.small {
    font-size: 90%;
}

.notice {
    width: 120px;
    background-color: #555;
    color: white;
    padding: 5px 0;
    border-radius: 6px;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 75%;
    margin-left: 50px
}


[data-tooltip]:before {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    transition: all 0.15s ease;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

[data-tooltip]:hover:before {
    opacity: 1;
    z-index: 1;
    background: #555;
    width: 350px;
    top: 110%;
    left: 50%;
    margin-left: -175px;
}

#tooltip {
    background: #555;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
    display: none;
    text-align: center;
    z-index: 1;
}

#tooltip[data-show] {
    display: block;
}

#arrow,
#arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

#arrow {
    visibility: hidden;
}

#arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px;
}

.collapsible {
    max-height: 10px;
    cursor: pointer;
    color: black;
    width: 100%;
    background-color: #F7F7F7;
}

.collapsible:hover {
    background-color: #F7F7F7;
}

.collapsible:after {
    content: '\002B';
    font-weight: bold;
    color: black;
    float: right;
    background-color: #F7F7F7;
}

.collapsible.active:after {
    content: "\2212";
    background-color: #F7F7F7;
}

.collapsible-content {
    padding: 0 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible-content-open-by-default {
    padding: 0 5px;
    max-height: 100%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*
 * Sigma instances
 */

div#sigma-fullscreen {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {
    div.modal-dialog { max-width: none; }
}

div.modal {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
}

div.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

div.modal-content {
    height: auto;
    border-radius: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}

div.modal-body {
    width: 100%;
    max-width: none;
}

div#graph-wrapper {
    padding: 2px;
    border-radius: 5px;
    border: 1px solid grey;
}

div#graph {
    width: 100%;
    height: 700px;
}

div#graph-modal-wrapper {
    padding: 2px;
    border-radius: 5px;
    border: 1px solid grey;
}

div#graph-modal {
    min-height: 200px;
}

tr.running-tr, tr.finished-tr {
    display: none;
}

.collapsed {
    max-height: 0;
}

#summary-running, #summary-finished, #summary-empty {
    display: none;
}

a.new-job-link {
    font-weight: bold;
}

#summary-empty {
    font-size: 90%;
    margin: 20px 0;
}